.search-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-input {
    outline: none;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    width: 15rem;
    margin-right: 1rem;
}

.search-button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

#search-icon {
    font-size: 1rem;
    background-color: #023e8a;
    padding: 1rem;
    border-radius: 50px;
    color: #ffffff;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}